<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/set.css" />
    <!-- 에디터 -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!-- 에디터 -->

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="logo"></div>
      <div class="mainPage" onclick="moveMain()">TimeMirror</div>
      <div class="icon">
        <div>로그인</div>
        <div onclick="moveCart()">장바구니</div>
      </div>
    </div>
    <div id="editorjs"></div>
    <div class="setForm">
      <form name="formData" enctype="multipart/form-data">
        <div>
          사진
          <input name="img" type="file" required />
        </div>
        <div>
          아이디
          <input name="userId" type="number" required />
        </div>
        <div>
          제품명
          <input name="name" type="text" required />
        </div>
        <div>
          가격
          <input name="price" type="text" required />
        </div>
        <div>
          상세설명
          <div name="detail" id="editor">내용 입력</div>
        </div>
        <button onclick="setData(event)" type="submit">제품 등록</button>
      </form>
    </div>
    <table>
      <thead>
        <th>이미지</th>
        <th>제품명</th>
        <th>가격</th>
        <th>상세설명</th>
        <th>수정</th>
        <th>삭제</th>
      </thead>
      <tbody>
        <% allItem.forEach((item)=> { %>
        <tr>
          <td><img src="/uploads/<%=item.img%>" /></td>
          <td><%= item.name%></td>
          <td><%= item.price.toLocaleString()%></td>
          <td><%- item.detail %></td>
          <td>
            <button onclick="writeMove('<%= item.id%>')">수정</button>
          </td>
          <td><button onclick="delData('<%= item.userId%>')">삭제</button></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
  <script src="/public/js/set.js"></script>
</html>
